$color1: rgb(14,72,127);
$color2: rgb(119,148,190);
$color3: rgb(28,51,76);
$color4: rgb(245,243,242);
$color4-1: rgb(215,216.5,214);
$color4-5: rgb(210,210,210);
$color5: rgb(185,190,186);
$color5-1: rgb(168.8,173.8,171.4);
$color5-2: rgb(152.6,157.6,156.8);
$color5-3: rgb(136.4,141.4,142.2);
$color5-4: rgb(120.2,125.2,127.6);
$color6: rgb(132,136,145);
$color7: rgb(104,109,113);
$color8: rgb(87,119,125);
$color8-1: rgb(95.5,114,119);
$color8-5: rgb(166, 183, 197);
$color8-7: rgb(170, 197, 188);
$color9: rgb(10, 14, 12);

$color10: rgb(235, 87, 87);
$color11: rgb(155, 59, 59);


$color_background: rgb(250,249,248.5);