$color1: rgb(14,72,127);
$color2: rgb(119,148,190);
$color3: rgb(28,51,76);
$color4: rgb(245,243,242);
$color5: rgb(185,190,186);
$color6: rgb(132,136,145);
$color7: rgb(104,109,113);
$color8: rgb(87,119,125);
$color9: rgb(10, 14, 12);