.rsvTable{
  font-size: 0;
  &__timeLine{
    border: 2px solid black;
    width: 1200px;
    height: 50px;
    white-space:nowrap;
    &__time{
      position: relative;
      width: 100px;
      display: inline-block;
      height: 100%;
      // outline: 1px solid red;
      &__inner{
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        left: 0%;
        top: 50%;
        font-size: 18px;
      }
    }
  }
  &__tr{
    white-space:nowrap;
    height: 100px;
    position: relative;
  }
  &__roomName{
    width: 100px;
    min-width: 100px;
    height: 100px;
    max-height: 100px;
    vertical-align: top;
    text-align: center;
    border: 2px solid black;
    border-top: none;
    display: inline-block;
    font-size: 20px;
  }
  &__table{
    border: 2px solid black;
    border-top: none;
    border-left: none;
    width: 25px;
    max-width: 25px;
    min-width: 25px;
    height: 100px;
    max-height: 100px;
    background-color: grey;
    display: inline-block;
    position: absolute;
    top: 0;
  }
}


.reservationOne{
  width: 248px;
  height: 98px;
  background-color: red;
  display: inline-block;
  position: relative;
  top: 0;
  z-index: 100;
  &__clientGuest, &__numberOfGuest, &__memo, &__show, &__sale{
    font-size: 10px;
  }
  &:hover{
    cursor: move;
  }
}
.ui-draggable-dragging{
  z-index: 1000;
}

.dropHover{
  background-color: yellow;
}

.aaaaaaaaaaa{

  font-size: 10px;
}
// .draggable{
//   width: 195px;
//   height: 95px;
//   background-color: red;
//   display: inline-block;
//   position: relative;
//   top: 0;
// }
.tttttt{
  font-size: 10px;
}
.uuuuuu, .vvvvvv{
  font-size: 10px;
}
#reservation_number_of_guest{
  width: 100%;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	// background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	// background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 20px, 100%;
}