@import "colors";

.drinksShow{
  width: 72vw;
  margin: 100px auto 80px;
  &__title{
    font-size: 22px;
    margin: 20px 0;
  }
  &__content{
    font-size: 16px;
    margin: 40px 0;
    & h3{
      display: inline-block;
      margin: 16px 0;
      padding: 0 3px 3px 3px;
      border-bottom: 2px solid $color3;
    }
    & a{
      margin-right: 20px;
      padding: 7px 16px;
      line-height: 1.3em;
      border: none;
      border-radius: 13px;
      font-size: 14px;
      background-color: $color7;
      color: $color4;
      &:nth-of-type(2){
        background-color: $color10;
      }
    }
  }
}