@import "colors";

.membersEdit{
  width: 65vw;
  margin: 100px auto 30px;
  &__title{
    font-size: 21px;
    margin: 20px 0;
  }
  &__form{
    &__content{
      display: inline-block;
      & h3{
        margin: 6px 0;
      }
      & input, & select{
        padding: 0 20px;
        height: 37px;
        border-radius: 5px;
        -webkit-appearance: none;
        appearance: none;
        font-size: 22px;
        border: 2px solid $color3;
      }
      & input{
        width: 600px;
      }
    }
    &__submit{
      // display: inline-block;
      margin: 10px 5px;
      padding: 7px 16px;
      line-height: 1.3em;
      border: none;
      border-radius: 13px;
      font-size: 14px;
      background-color: $color7;
      color: $color4;
      float: right;
      &:hover{
        cursor: pointer;
        opacity: .7;
      }
    }
    &__resignation{
      background-color: $color10;
    }
  }
}
