.reservationTable{
  font-size: 0;
  &__timeLine{
    border: 2px solid black;
    height: 50px;
    &__time{
      position: relative;
      &__inner{
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        left: 0%;
        top: 50%;
        font-size: 18px;
      }
    }
  }
  &__roomName{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid black;
    
    font-size: 20px;
  }
  &__table{
    border: 2px solid black;
    &__link{
      width: 100px;
    height: 100px;
    display: inline-block;
    background-color: grey;
    }
  }
}

.reservationOne{
  width: 200px;
  height: 100px;
  background-color: blue;
}