@import "colors";
.reservation{
  // margin-top: 60px;
  padding: 20px;
}


.submits{
  margin: 10px 5px;
  padding: 7px 16px;
  line-height: 1.3em;
  border: none;
  border-radius: 13px;
  font-size: 14px;
  font-weight: bold;
  
}

.rsvTable{
  margin: 30px auto 20px;
  font-size: 0;
  width: 1200px;
  &__timeLine{
    border: 2px solid $color3;
    width: 1200px;
    height: 50px;
    white-space:nowrap;
    background-color: $color3;
    &__time{
      position: relative;
      width: 100px;
      display: inline-block;
      height: 100%;
      // 時間表記を表のライン上に移動
      &__inner{
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        left: 0%;
        top: 50%;
        font-size: 18px;
        color: $color4;
      }
    }
  }
  &__tr{
    white-space:nowrap;
    height: 100px;
    position: relative;
  }
  &__roomName{
    width: 100px;
    min-width: 100px;
    height: 100px;
    line-height: 100px;
    max-height: 100px;
    vertical-align: top;
    text-align: center;
    border: 2px solid $color3;
    border-top: none;
    display: inline-block;
    font-size: 20px;
    // font-weight: 600;
    
  }
  &__table{
    border-bottom: 2px solid $color3;
    border-right: 1px solid $color2;
    border-top: none;
    border-left: none;
    width: 25px;
    max-width: 25px;
    min-width: 25px;
    height: 100px;
    max-height: 100px;
    background-color: $color5;
    display: inline-block;
    position: absolute;
    top: 0;
    &:nth-of-type(4n+1){
      border-right: 2px solid $color8;
    }
  }
}


.reservation__header{
  &::after{
    display: block;
    content: "";
    clear: right;
  }
}


.rsvControllers{
  float: right;
  margin-right: 90px;
  &__submitSet1{
    font-size: 22px;
    font-weight: bold;
    vertical-align: middle;
    &> select{
      vertical-align: middle;
      padding-right: 1em;
      cursor: pointer;
      padding: 0 15px;
      -webkit-appearance: none;
      appearance: none;
      font-size: 22px;
      font-weight: bold;
      border: 2px solid $color3;
    }
  }
  &__submitSet2{
    display: inline-block;
  }
  &__thisDate{
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 0 10px;
  }
  &__submitSet3{
    display: inline-block;
  }
  &__newButton{
    float:right;
  }
}

#submit1{
  background-color: $color3;
  color: $color4;
  margin-right: 30px;
}
#submit2{
  background-color: $color7 ;
  color: $color4;
}
#submit3{
  background-color: $color7 ;
  color: $color4;
}
#submit4{
  background-color: $color7 ;
  color: $color4;
}
#submit5{
  background-color: $color7 ;
  color: $color4;
}
#submit6{
  background-color: $color6;
  color: $color4;
}
#submit7{
  background-color: $color6;
  color: $color4;
}
#submit8{
  background-color: $color9;
  color: $color4;
}



.reservationOne{
  width: 248px;
  height: 98px;
  background-color: red;
  display: inline-block;
  position: relative;
  top: 0;
  z-index: 100;
  &__clientGuest, &__numberOfGuest, &__memo, &__showButton, &__sale{
    font-size: 10px;
  }
  &:hover{
    cursor: move;
  }
}
.ui-draggable-dragging{
  z-index: 1000;
}

.dropHover{
  background-color: yellow;
}

.aaaaaaaaaaa{

  font-size: 10px;
}
// .draggable{
//   width: 195px;
//   height: 95px;
//   background-color: red;
//   display: inline-block;
//   position: relative;
//   top: 0;
// }
.tttttt{
  font-size: 10px;
}
.uuuuuu, .vvvvvv{
  font-size: 10px;
}
#reservation_number_of_guest{
  width: 100%;
	padding: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	background: #eee;
	// background: url(arrow01.png) right 50% no-repeat, -webkit-linear-gradient(top, #fff 0%,#efebe1 100%);
	// background: url(arrow01.png) right 50% no-repeat, linear-gradient(to bottom, #fff 0%,#efebe1 100%);
	background-size: 20px, 100%;
}

.reservation_new_window, .reservation_show_window, .reservation_edit_window{
  z-index: 100;
  position: fixed;
  right: -450px;
  top: 50px;
  width: 450px;
  background-color: rgba(0,0,0,.5);
  height: calc(100vh - 50px);
}