%table
  %tr
    %th 11
    %th 11
    %th 11
    %th 11
    %th 11
  %tr
    %td#1.table
    %td#2.table
    %td#3.table
    %td#4.table
    %td#5.table
  %tr
    %td.table
    %td.table
    %td.table
    %td.table
    %td.table
  %tr
    %td.table
    %td.table
    %td.table
    %td.table
    %td.table
  %tr
    %td.table
    %td.table
    %td.table
    %td.table
    %td.table
.draggable
  %p ドラッグ要素
.draggable
  %p ドラッグ要素