= javascript_include_tag 'sales.js'
= stylesheet_link_tag 'sales', media: 'all'
= render partial: "form",locals: {edit: true, show: false}


- @sales_drinks.each_with_index do |d, i|
  .saledrink{id: "saledrink#{i}", data:{id: d.id, number: d.number, drinkid: d.drink_id, name: d.drink.name, price: d.drink.price}}